@tailwind base;
@tailwind components;
@tailwind utilities;

.login-page {
    height: calc(100vh - 6rem) !important;
}

html , body, #root{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.fake-footer{
    background-color: #919191;   
}

.cc{
    text-transform: capitalize;
}